[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
mongoengine = "*"
redis = "*"
redis-lru = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
